
@{
    ViewData["Title"] = "ExportBlogListExcel";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<a href="/Admin/Blog/ExportBlogListExcel" class="btn btn-success">Blog Listesini İndir</a>

