@model IEnumerable<Entities.Concrete.Category>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<table class="table table-boarderd">
    <tr>
        <td>#</td>
        <td>Kategori Adı</td>
        <td>Durum</td>
        <td></td>
    </tr>
</table>

