<div class="tech-btm">
    <p>Yazılarımızla ilgili tüm haberleri almak için abone olun</p>
    <form action="/newsletter/subscribemail" method="post">
        <input type="email" id="txtEmail" placeholder="Email Adresinizi Giriniz" required="" name="MailAddress">
        <input type="submit" id="submit" value="Subscribe">
    </form>
</div>
}

